

/* #div1{
    position: absolute; 
    top: 225px;     
}
#div2{
    position: absolute; 
    top: 225px; 
    left: 550px; 
}

#cname{
    background-color: green;
}
#xamarinname{
background-color: purple;
}
#div3{
    position: absolute;
    top: 225px; 
    left: 915px; 
}
#div4{
    position: absolute;
    top: 450px; 
    left: 250px; 
}
#div5{
    position: absolute;
    top: 450px; 
    left: 800px; 
} */
