<div class="jumbotron" >
    <div class="text-center">
        <h1 class="display-4">José Valenzuela</h1>
        <h3>Software Developer</h3>
        <ul class="imageness">
            <li class="list-inline-item imagenes">
                <a href="https://github.com/thisisjose">
                    <img src="https://i.ibb.co/6H8Ms1b/signo-de-github.png" alt="signo-de-github" border="0" style="width: 40px;">
                </a>
            </li>
            <li class="list-inline-item imagenes">
                <a href="https://www.instagram.com/tqmjosee">
                    <img src="https://i.ibb.co/qxXQZXt/instagram.png" alt="instagram" border="0" style="width: 40px;">
                </a>
            </li>
            <li class="list-inline-item imagenes">
                <a href="https://twitter.com/josegangzzz">
                    <img src="https://i.ibb.co/MDKRtZR/twitter.png" alt="twitter" border="0" style="width: 40px;">
                </a>
            </li>
        </ul>
    </div>
</div>