<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Experiencia y Certificados</title>
</head>
<body>
<div>.</div>
<div class="registro primer-registro">
  <div class="experiencia">
    <h2>Experiencia: Metodologías ágiles</h2>
    <p class="certificados">Certificados: Certified ScrumMaster</p>
    <p class="skills">Skills: Implementación de prácticas Scrum</p>
  </div>
</div>

<div class="registro">
  <div class="experiencia">
    <h2>Experiencia: Soporte técnico</h2>
    <p class="certificados">Certificados: Soporte Técnico Certificate</p>
    <p class="skills">Skills: Resolución de problemas y configuración de redes</p>
  </div>
</div>

<div class="registro">
  <div class="experiencia">
    <h2>Experiencia: Linux</h2>
    <p class="certificados">Certificados: Cisco Netacad</p>
    <p class="skills">Skills: Manipulación de archivos en shell de Linux</p>
  </div>
</div>

<div class="registro">
  <div class="experiencia">
    <h2>Experiencia: Configuración de Routers y Switches</h2>
    <p class="certificados">Certificados: Netacad Cisco</p>
    <p class="skills">Skills: Manipulación de redes</p>
  </div>
</div>
<div>.</div>
</body>
</html>
